.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        flex: 1;
        padding: 1rem;
    }

    &__content {
        display: grid;
        gap: 1rem;
    }
}

@media (min-width: 900px) {
    .page__content {
        grid-template-columns: 2fr 1fr;
    }
}