@use "../base/variables" as *;
@use "../utils/media" as media;

.hero {
    margin-top: $gap * 2;

    &__title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    &__text {
        color: $color-muted;
        max-width: 500px;
    }
}

@include media.desktop {

    .hero__title {
        font-size: 3rem;
    }

    .hero__text {
        font-size: 1.1rem;
    }

}