@use "../base/variables" as *;
@use "../utils/media" as media;

.sidebar {
    background: $color-surface;
    padding: $gap;
    border-radius: $radius;
    border: 1px solid $color-border;
    box-shadow: $shadow-sm;

    &__title {
        margin-bottom: 0.75rem;
        font-weight: 600;
    }
}

@include media.desktop {

    .sidebar {
        padding: 2.2rem;
        border-radius: 18px;
        box-shadow: $shadow-md;
        min-height: 260px;
        font-size: 1.05rem;
    }

    .sidebar__title {
        font-size: 1.35rem;
        margin-bottom: 1.2rem;
    }
}